@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html {
    @apply scroll-smooth;
}

/* Placeholder default color */
input::placeholder,
textarea::placeholder {
    @apply text-gray-400;
}

/* Transition styles for max-height */
.accordion-enter-active,
.accordion-leave-active {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.accordion-enter-from,
.accordion-leave-to {
    max-height: 0;
    opacity: 0;
}

.accordion-enter-to,
.accordion-leave-from {
    max-height: 900px;
    opacity: 1;
}

@layer components {
    .border-dashed-default {
        /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23d1d5db' stroke-width='3' stroke-dasharray='4%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 16px; */

        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23d1d5db' stroke-width='2.5' stroke-dasharray='3%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 16px;
    }

    .table-default {
        @apply min-w-full;

        thead {
            @apply border-b border-gray-200;

            th {
                @apply px-2.5 py-2 text-xs font-semibold text-gray-700 text-start sm:text-sm sm:px-4 sm:py-3;
            }
        }

        tbody {
            @apply divide-y divide-gray-200;

            td {
                @apply px-2.5 py-2 text-xs sm:text-sm sm:px-4 sm:py-3 whitespace-nowrap;
            }
        }
    }

    .table-report {
        @apply min-w-full;

        thead {
            @apply bg-gray-100;

            th {
                @apply px-2 py-1 text-xs font-semibold text-center text-black border border-black;
            }
        }

        tbody {
            @apply bg-white;

            td {
                @apply px-2 py-1 text-xs border border-black whitespace-nowrap;
            }
        }

        tfoot {
            @apply bg-gray-100;

            td {
                @apply px-2 py-1 text-xs font-semibold text-right text-black border border-black whitespace-nowrap;
            }
        }
    }

    /* Circular Loading */
    .circular-loading {
        width: 50px;
        padding: 8px;
        aspect-ratio: 1;
        border-radius: 50%;
        --_m: conic-gradient(#0000 10%, #000),
            linear-gradient(#000 0 0) content-box;
        -webkit-mask: var(--_m);
        mask: var(--_m);
        -webkit-mask-composite: source-out;
        mask-composite: subtract;
        animation: l3 1s infinite linear;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-animation: l3 1s infinite linear;

        @apply bg-primary;
    }
    @keyframes l3 {
        to {
            transform: rotate(1turn);
        }
    }

    .circular-loading-sm {
        width: 30px;
        padding: 5px;
        aspect-ratio: 1;
        border-radius: 50%;
        --_m: conic-gradient(#0000 10%, #000),
            linear-gradient(#000 0 0) content-box;
        -webkit-mask: var(--_m);
        mask: var(--_m);
        -webkit-mask-composite: source-out;
        mask-composite: subtract;
        animation: l3 1s infinite linear;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-animation: l3 1s infinite linear;

        @apply bg-primary;
    }

    .circular-loading-xs {
        width: 20px;
        padding: 3px;
        aspect-ratio: 1;
        border-radius: 50%;
        --_m: conic-gradient(#0000 10%, #000),
            linear-gradient(#000 0 0) content-box;
        -webkit-mask: var(--_m);
        mask: var(--_m);
        -webkit-mask-composite: source-out;
        mask-composite: subtract;
        animation: l3 1s infinite linear;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-animation: l3 1s infinite linear;

        @apply bg-primary;
    }

    .cart-group {
        @apply flex flex-col items-start justify-between gap-2 p-4 !pb-2 transition-all duration-200 ease-in-out border-b rounded-2xl sm:p-6 sm:!pb-4 outline outline-1 -outline-offset-1 outline-gray-300 hover:outline-primary;
    }
}

@layer utilities {
    /* text input number hide arrows */
    .no-arrows::-webkit-inner-spin-button,
    .no-arrows::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-date-icon::-webkit-inner-spin-button,
    .no-date-icon::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}
